<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BonjourSDK_OSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>BonjourSDK_iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DF7D1C9B19EA466300EB0487</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF7D1CA619EA466300EB0487</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFB9F51819EA48AF001F8A04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFB9F52219EA48AF001F8A04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFB9F57F19EA4C2F001F8A04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFB9F58919EA4C2F001F8A04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFB9F59D19EA4CB4001F8A04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFB9F5A719EA4CB5001F8A04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
